Hi {%- if user_name %} {{ user_name }}{% endif %}, I can provide you timely updates on companies that you are interested in. Here is a list of actions you may try:
1. Subscribe to companies
2. Unsubscribe companies
3. Get a list of your subscription
4. Set a price alert for a stock
5. Opt out of the subscription

You may subscribe to our channel for all announcements:
👉 https://t.me/klstockexchange

Thank you for your interest. You may send me help anytime to see this message again. Do contact @voltendron if you have any queries.

P.S. I am under natural language processing testing, feel free to send me any text!
